@import url("../index.css");

.send-command-wrapper {
  min-width: 10em;
  min-height: 10em;
}

.send-command-title {
  display:flex;
  justify-content:center;
  padding-bottom:0.5em;
}

.device-commands-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
}

.device-command-item {
  background-color: rgba(0, 0, 0, 0.75);
}

.device-command-item-selected {
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
}