.connection_widget {
    justify-content: space-evenly;
    width: 16em !important;
    height: 16em !important;
    transition: height 0.5s;
}

.connection_widget_closed {
    height: 3.8em !important;
}