.heartbeat_widget {
    justify-content: space-evenly;
    width: 20em !important;
    height: 16em !important;
    transition: height 0.5s;
}

.heartbeat_widget_closed {
    height: 2em !important;
}