@import url("../index.css");

.heartbeat_widget {
    justify-content: space-evenly;
    width: 20em !important;
    height: 16em !important;
}

.heartbeat_widget_closed {
    height: 2.5em !important;
    display: flex;
}

.heartbeat_status_text_wrapper {
    height: 2.5em;
    justify-content: space-between;
}

.heartbeat_widget_info_wrapper {
    margin-bottom: 0.5em;
}

.heartbeat_widget_flag_wrapper {
    margin-left: 1em !important;
}
