@import url("../index.css");

.routes-menu {
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

.routes-menu-item {
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    
    margin: 0.25em;
}

.current-route {
    opacity: 1;
    box-sizing: border-box;
}