@import url("../index.css");

.routes-menu {
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

.routes-menu-item {
    align-items: center;
    justify-content: center;
}
