@import url("../index.css");

.filtrable-selection-wrapper {
  overflow: auto;
}

.filtrable-selection-default-item {
  background-color:rgba(0,0,0,0.75);
}

.filtrable-selection-default-item-selected {
  background-color:black;
  color:white;
}

.filtrable-selection-close {
  flex: 0 !important;
  padding-right: 1em;
  margin-left: 0.5em;
}