@import url("../index.css");

:root {
    --border-deco-size: 0.25em;

    --stripe-color-1: rgba(0, 0, 0, 0.85);
    --stripe-color-2: rgba(25, 25, 25, 0.85);

    --deco-gradient-1: #00000000 0%, var(--primary-color) 50%, #00000000 100%;
    --deco-gradient-2: #00000000 0%, var(--primary-color) 23%, var(--primary-color) 26%, #00000000 50%;
    --deco-gradient-radial: #00000000 0%, var(--primary-color) 35%, #00000000 70%;
}

/* Border */
.deco-border {
    width: var(--border-deco-size);
    height: var(--border-deco-size);
    
    position: relative;
    top: 0;
    left: 0;
    float: left;
}

/**/
.deco-gradient-hor {
    background: #00000000;
    background: -moz-linear-gradient(left, var(--deco-gradient-1));
    background: -webkit-linear-gradient(left, var(--deco-gradient-1));
    background: linear-gradient(to right, var(--deco-gradient-1));
}

.deco-gradient-ver {
    background: #00000000;
    background: -moz-linear-gradient(top, var(--deco-gradient-1));
    background: -webkit-linear-gradient(top, var(--deco-gradient-1));
    background: linear-gradient(to top, var(--deco-gradient-1));
}

.deco-gradient-corner-1 {
    background: #00000000;
    background: -moz-linear-gradient(top left, var(--deco-gradient-2));
    background: -webkit-linear-gradient(top left, var(--deco-gradient-2));
    background: linear-gradient(to top left, var(--deco-gradient-2));
}

.deco-gradient-corner-2 {
    background: #00000000;
    background: -moz-linear-gradient(top right, var(--deco-gradient-2));
    background: -webkit-linear-gradient(top right, var(--deco-gradient-2));
    background: linear-gradient(to top right, var(--deco-gradient-2));
}

.deco-gradient-corner-3 {
    background: #00000000;
    background: -moz-linear-gradient(bottom left, var(--deco-gradient-2));
    background: -webkit-linear-gradient(bottom left, var(--deco-gradient-2));
    background: linear-gradient(to bottom left, var(--deco-gradient-2));
}

.deco-gradient-corner-4 {
    background: #00000000;
    background: -moz-linear-gradient(bottom right, var(--deco-gradient-2));
    background: -webkit-linear-gradient(bottom right, var(--deco-gradient-2));
    background: linear-gradient(to bottom right, var(--deco-gradient-2));
}
/**/


.border-top {
    width: calc(100% - 2 * var(--border-deco-size)) !important;
}

.border-bottom {
    flex: 1;
    /*
    top: calc(100% - 2 * var(--border-deco-size)) !important;
    /*left: calc(var(--border-deco-size) * -1) !important;
    width: calc(100% - 2 * var(--border-deco-size)) !important;
    /**/
}

.border-left {
    /*height: calc(100% - 2 * var(--border-deco-size)) !important;/**/
    height: auto !important;
}

.border-right {   
    /*left: calc(100% - 2 * var(--border-deco-size)) !important;
    top: calc(var(--border-deco-size) * -1) !important;
    height: calc(100% - 2 * var(--border-deco-size)) !important;/**/
    height: auto !important;
    /**/
}


.border-bottom-left {
    /*
    top: calc(100% - 2 * var(--border-deco-size)) !important;
    /*left: calc(var(--border-deco-size) * -1) !important;*/
}

.border-bottom-right {
    /*left: calc(100% - 3 * var(--border-deco-size)) !important;
    top: calc(100% - 3 * var(--border-deco-size)) !important;
    /**/
}


.deco-border-content {
    z-index: -1;
    /*
    position: relative;
    top: calc(var(--border-deco-size) / 2);
    left: calc(var(--border-deco-size) / 2);
    width: calc(100% - var(--border-deco-size));
    height: calc(100% - var(--border-deco-size));
    /**/
    
    flex: 1;
    background: repeating-linear-gradient(
        60deg,
        var(--stripe-color-1),
        var(--stripe-color-1) 10px,
        var(--stripe-color-2) 10px,
        var(--stripe-color-2) 20px
    );
    background-color: var(--primary-color);

    text-shadow: 0px 0px 0.1em black;
}

.deco-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.deco-box-content {
    display: flex;
    flex: 0;
}