@import url("../index.css");

.filtrable-selection-wrapper {
  overflow: auto;
}

.filtrable-selection-default-item {
  background-color:rgba(0,0,0,0.75);
}

.filtrable-selection-default-item-selected {
  background-color:black;
  color:white;
}
