:root {
  --primary-color: rgb(57, 168, 142);
  --primary-bg: rgb(26, 29, 29);
  /* Maybe error? */
  --secondary-color: crimson;
  --secondary-bg: #2c0601; /*#d9b08c;*/

  --shadow: 0.025em 0.025em 0.05em 0.025em;
  --border-size: 0.025em;
  --margins-standard: 0.25em 0.5em;
}

body {
  background: var(--primary-bg);
  color: var(--primary-color);
}


.mavlinkui {
  flex: 1;

  box-sizing: border-box;  
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: default;
  outline: 0;

  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
}
  
.mavlinkui-primary {
  box-shadow: var(--shadow) var(--primary-color);

  border: var(--border-size) solid var(--primary-color);
  background-color: var(--primary-bg);
  color:  var(--primary-color);

  &:active {
    background-color: var(--primary-color);
    color: var(--primary-bg);
  }
}

.mavlinkui-secondary {
  box-shadow: var(--shadow) var(--secondary-color);

  border: var(--border-size) solid var(--secondary-color);
  background-color: var(--secondary-bg);
  color:  var(--secondary-color);

  &:active {
    background-color: var(--secondary-color);
    color: var(--secondary-bg);
  }
}