.mavlinkui {
  display: flex;
  flex-direction: column;
  flex: 1;

  box-sizing: border-box;  
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: default;
  outline: 0;

  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.mavlinkui-button {
  cursor: pointer;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.5em;
}
  
.mavlinkui-primary {
  border: 0.125em solid #41addd;
  background-color: white;
  color: #41addd;

  &:active {
    background-color: #41addd;
    color: white;
  }
}

.mavlinkui-secondary {
  border: 0.125em solid rgb(221, 179, 65);
  background-color: white;
  color: rgb(221, 179, 65);

  &:active {
    background-color: rgb(221, 179, 65);
    color: white;
  }
}